name: demo.playwright.pwc-p
on:
  workflow_dispatch:

jobs:
  basicTests:
    strategy:
      fail-fast: false
      matrix:
        # run 3 copies of the job in parallel
        shard: [1, 2, 3, 4, 5]

    name: "Playwright Tests - pwc-p"
    timeout-minutes: 60
    runs-on: ubuntu-22.04
    container: mcr.microsoft.com/playwright:v1.49.0-jammy

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      # https://github.com/actions/runner-images/issues/6775
      - run: |
          echo "$GITHUB_WORKSPACE"
          git config --global --add safe.directory "$GITHUB_WORKSPACE"

      - uses: actions/setup-node@v4
        with:
          node-version: "18.x"

      - name: Install dependencies
        run: |
          npm ci
          npx playwright install chrome

      - name: Run Orchestrated tests
        continue-on-error: false
        working-directory: ./basic
        env:
          ARGOS_TOKEN: ${{ secrets.ARGOS_TOKEN }}
          CURRENTS_PROJECT_ID: bnsqNa
          CURRENTS_RECORD_KEY: ${{ secrets.CURRENTS_RECORD_KEY }}
          CURRENTS_CI_BUILD_ID: reporter-${{ github.repository }}-${{ github.run_id }}-${{ github.run_attempt }}
          COMMIT_INFO_MESSAGE: "pwc-p: ${{ github.event.head_commit.message }}"
          PWTEST_BLOB_DO_NOT_REMOVE: 1 # Add the env variable to not remove test blobs
        # Add the blob reporter in the execution command
        run: |
          npx pwc-p --reporter blob

      # Generate a report based on the blob with the merge-report command
      - name: Generate HTML report from blob
        run: |
          npx playwright merge-reports --reporter=html ./blob-report
